h1, p {
    color: red;
    text-align: center;
}

input {
    color: olivedrab;
    text-align: center;
    height: 20px;
    width: 150px;
}


h2 {
    color: blue;
}

img {
    border: olivedrab;
}