<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

    <div id="myApp">

        <h1>Personas</h1>
        <ul>
            <li>{{miArreglo[0]}}</li>
            <li>{{miArreglo[1]}}</li>
            <li>{{miArreglo[2]}}</li>
            <li>{{miArreglo[3]}}</li>
            <li>{{miArreglo[4]}}</li>
        </ul>
        <hl></hl>

        <!-- La directiva v-for de vue-->

        <ul>
            <li v-for="x in miArreglo">
                <span>{{x.nombre}}</span>
                <blockquote>Edad: {{x.edad}}</blockquote>
            </li>
        </ul>

        <!-- Directiva v-for con desestructuración -->
        <ul>
            <li v-for="{nombre, edad} in miArreglo">
                <span>{{nombre}}</span>
                <blockquote>Edad: {{edad}}</blockquote>
            </li>
        </ul>

        

    </div>
    

    <script src="app.js"></script>
</body>
</html>